*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%; //1rem = 10px ,  10px/16px= 62.5%
   
    
     @include respond(tab-land){
        font-size: 56.25%; //1rem= 9px
    }
    @include respond(tab-port){
        font-size: 50%; //1rem= 8px
    }
    @include respond(phone){
        font-size: 37.5%; //1rem=6px, 6/16=37.5%
    }
    @include respond(desktop){
        font-size: 62.5%;  //1rem=12px
    }
    
}
body{
    line-height: 1.7;
    padding: 3rem;
    color: $color-grey;
    box-sizing: border-box;
}
