
$color-light-green: #2de07293;
$color-dark-green: #12790ec0;
$color-white:#fff;
$color-black:#000;
$color-orange-light:#ffb900;
$color-orange-dark:#ff7730;
$color-red: #e61111;
$color-blue:#0840fa;
$color-blue-1:#600fe4;

$color-grey: rgb(128, 128, 128);
$color-grey-1: rgba(90, 88, 88, 0.863);
$color-light-grey: #f7f7f7;

$grid-width: 114rem;
$grid-vertical: 8rem;
$grid-vertical-small: 5rem;
$grid-horizontal: 6rem